
<header>
  <nav>



<% if (!user) { %>
  <p> <a href="/login">Login</a>        <a href="/register">Register</a> </p>
<% } else { %>
<span class="badge badge-warning"><h5>Logged in as: <%= user.email %>!</h5></span>
<form method="POST" action="/logout" class = "form-inline">
 <button type="submit" class="btn btn-outline-dark">Logout</button>
</form>
<%}%>


 </nav>
</header>

