form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  width: 100%;
  margin-top: 1.5em;
}


#todo_item-text{
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 3px solid gray;
  margin-bottom: 0.5em;
}

.category{
  display: flex;
  justify-content: start;
  font-family: "Bungee", "sans-serif";
}

.submit {
  margin: 10px;
  padding: 0.5em;
  color: black;
}

.fa-film {
  margin: 10px;
  padding: 0.5em;
}

.fa-book-open {
  margin: 10px;
  padding: 0.5em;
}

.fa-utensils {
  margin: 10px;
  padding: 0.5em;
}

.fa-shopping-basket {
  margin: 10px;
  padding: 0.5em;
}
.fa-list {
  margin: 10px;
  padding: 0.5em;
}

.todo_list{
  border: 3px solid grey;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Bungee", "sans-serif";
  font-size: 10px;
}

.textarea-lable{
  font-family: 'Source Sans Pro', "sans-serif";
  color: gray;
  font-size: 24px;
  font-weight: bold;
}



